/* BookingSuccessfully.css */

body, html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a7387; 
    font-family: Arial, sans-serif;
  }
  
  .Assignsuccessfully {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .message-box {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 350px;
  }
  
  .loading-image {
    width: 70px; 
    height: 70px; 
    display: block;
    margin: 20px auto 5px; 
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(77, 149, 5);
  }

  .employee-message {
    font-size: 14px;
    font-weight: bold;
    color: black; 
  }

  .continue-button {
    background-color: rgba(19, 73, 107, 1); 
    color: white; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 20px; 
    transition: background-color 0.3s; 
  }
  
  .continue-button:hover {
    background-color: #4a6071; 
  }