
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(G:\react\autocare\src\components\photos\background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
   
    margin-left: 50px;
    
    
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: transparent;
    padding: 20px;
    
  }
  
  .logo {
    width: 200px;
    margin-bottom: 80px;
    margin-left: 70%;
    
  }
  
  .sign-up-buttons {
    display: flex;
    justify-content: center;
    gap: 110px;
    padding: 20%;
    
  }
  
  .button-container {
    text-align: center;
  }
  
  .sign-up-button {
    background-color: rgb(211, 208, 208);
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    padding: 10%;
    margin-left: 150%;
    margin-top: 10px;
    
  }
  
  .image {
    width: 130px;
    height: 90px; 
    margin-bottom: 10px;
  }
  
  .text h2{
    font-size: 38px;
    text-align: center;
    margin-top: -5%;
    font-weight: 600px;
    color: white;
    display: inline;
    padding-left: 50px;
  }
  
  .text h2 span{
    color: red;
  }
  