* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .Esignup-container {
      background: #13496B;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh; 
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0%;
     
    }

    
  
    .logo{
      position: fixed;
      top: 25%;
      left: 58%;
      width: 50%;
      height: 50%;
      background: url('E:\project_Gems\client\autocare\src\assets\photos\logo.png') no-repeat center center; /* Update with your actual image path */
      background-size: contain;
      z-index: -1;
  }
  
  .Esignup-form {
    background: rgba(0, 0, 0, 0.781); /* Add a semi-transparent background for the form */
    margin-top: 5px;
    margin-left: -450px;
    padding: 10px;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .Esignup-form h1{
    color: red;
    margin-top: -0%;
    font-family: Average;
    margin-bottom: 3%;
  }
  
  .Esignup-form span {
    color: white;
  
  }
  
  .main {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  
  }
  
  .Esignup-form label {
    color: white;
    text-align: left;
    
  
  }
  
  .Esignup-form input {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  
  .Esignup-form button {
    padding: 10px 20px;
    border: none;
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 370px;
    margin-top: -7%;
    margin-left: 50%;

    
  }
  
  .Esignup-form button:hover {
    background-color: #0056b3;
  }
  .Esignup-form button b {
    font-size: 15px;
  }
  
  .Esignup-form p {
    color: white;
    margin-left: 50%;
    margin-top:1%;
  }
  
  .Esignup-form a {
    color: #0056b3;
  }
  .column-1 {
    margin-top: -50px;
    width: 350px;
    
   

  }
  .column-2 {
    margin-top: -50px;
    width: 350px;
    

  }
    