.invoice-main{
    background-color: #13496B;
    width: 105vw;
    height: 110vh;
    margin-top: -20px;
    position: fixed;
    margin-left: -10px;
}

.invoice-container {
    width: 80%;
    margin-top: -16%;
    margin-left: -40%;
   
    padding: 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    border-radius: 10px;
  }
  
  .invoice-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .invoice-number {
    font-size: 16px;
    font-weight: bold;
  }
  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #cfd8df; /* Light grey background for the table */
  }
  
  .invoice-table th,
  .invoice-table td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
    color: black;
    border-color: #000;
    text-align: center;
  }
  
  .invoice-table th {
    background-color: #e0e7ed; /* Light background for headers */
    font-weight: bold;
  }
  
  .center-logo-cell {
    text-align: center;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.05); /* Light background for logo area */
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .logo{
    opacity: 0.5;
  }
  
  .center-logo {
    max-width: 150px;
    opacity: 0.5; /* Faded look for logo */
  }
  
  .invoice-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .total {
    display: flex;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
  }
  
  .total span {
    margin-right: 10px;
  }
  
  .total-amount {
    font-weight: bold;
  }
  
  .payment-button {
    background-color: #4CAF50; /* Green button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  