
.SignupOption {
  text-align: center;
  background-color: #13496B;
  margin-top: 250px;

}

.SignupOption-header {
  margin-left: -20px;
  height: 65vh;
  
}

.logo3{
  margin-top: -250px;
  margin-left: 650px;
  width: 250px;
}

.sign-up-buttons {
  display: flex;
  justify-content: center;
  gap: 270px;
  cursor: pointer;
  margin-left: -80px;
}



.text-main {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-bottom: 50px;
}

.text-main h2 {
  font-size: 38px;
  font-weight: bold;
  color: white;
  line-height: 1;
  padding: 10px;
  border-radius: 30px;
  background-color: black;
  width:250px;
}

.text-main h2 span {
  color: red;
}
