* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup-container {
  background-color: #13496B;
    background-size: cover;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .logo1{
    margin-top: 10%;
    margin-left: 50%;
}

.signup-form {
  background: rgba(0, 0, 0, 0.781); /* Add a semi-transparent background for the form */
  margin-top: 5%;
  margin-left: -450px;
  padding: 20px;
  width: 55%;
  height: 75%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form h1{
  color: red;
  margin-top: 1%;
  margin-left: -5%;
  font-family: Avera;
}

.signup-form span {
  color: white;

}

.main {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  /* width: 100%; */

}

.signup-form label {
  color: white;
  text-align: left;

}

.signup-form input {
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form button {
  padding: 10px 20px;
  border: none;
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;

 
  
}

.signup-form button:hover {
  background-color: #0056b3;
}
.signup-form button b {
  font-size: 15px;
 
}

.signup-form p {
  color: white;
  margin-left: -70%;
  margin-top:5%;
}

.signup-form a {
  color: #0056b3;
}

.main #password-not-match {
  color: red;
  margin-left: -10%;
  margin-top: 5%;
}








  

