.design {
  background-color: #13496b;
  width: 100vw;
  height: auto;
}

.container-add {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.form-section {
  margin-left: 60px;
  width: 400px;
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form_input,
.description_textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

.description_textarea {
  height: 80px;
  resize: none;
}

.btn-submit {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 367px;
}
.btn-submit-V {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}
.btn-submit-V {
  background-color: #0056b3;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.image-section img {
  max-width: 100%;
  height: auto;
}
