@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.navbar-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  z-index: 1000;
  /* transition: top 0.3s; */
}

/* .navbar-container.hidden {
  top: -170px; /* Adjust this value based on the navbar height 
} */

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

.logo img {
  height: 200px;
  width: 200px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  right: 10px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #d89898;
  font-weight: 800;
  font-size: 20px;
  font-family: "edu au vic wa nt hand", sans-serif;
}

.menu ul li a:hover {
  text-decoration: underline;
  color: #ca5e5e;
  transition: 0.9ms;
}

.menu button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
}

.menu button:hover {
  background-color: #f18900;
  transition: 0.9ms;
}
